# React
node_modules/
dist/
.env

# Go
*.exe
*.out

# PocketBase
pocketbase/pocketbase
pocketbase/pb_data/
pocketbase/pb_migrations/

# macOS / IDE
.DS_Store
.vscode/
.idea/
.env

# frontend
app/node_modules
app/dist
app/.env
app/vite.config.js.timestamp-*
app/*.log

# backend (Go builds)
server/hora-auth
server/*.exe
server/*.out
server/*.test
server/.env